<html>
	<head>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static "TRx_question_app/dual_pane.css" %}" />
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
		<script src="{% static "TRx_question_app/jquery.sortable.min.js" %}"></script>
		<!---<script src="../jquery.sortable.js"></script> -->
	</head>

	<body>
		<div class="dual_layout">
      <h1>Edit Project: "{{ project_name }}"</h1>

			<form action="addChain/" method="post"> {% csrf_token %}
				{{ form }}
				<!-- {{ form.as_p }} -->
				<input type="submit" value="add chain" />
			</form>


      <!--
      Not sure why li elements are so far to the right
      -->
			<div class="pane_holder">
				<table>
					<tr>
						<td>
							<ul class="sortable" id="stack" style="list-style:none">
              {% for chain in used_chains %}
                <li>{{ chain.chain_name }}
              {% endfor %}
              <li>NOTANACTUALENTRY
							</ul>
						</td>

						<td>
							<ul class="sortable" id="non-stack" style="list-style:none">
              {% for chain in unused_chains %}
                <li>{{ chain.chain_name }}
              {% endfor %}
                <li>NOTANACTUALENTRY
							</ul>
						</td>
					</tr>
				</table>
			</div>

      <!--
      NOT Implemented yet!
      Make sure to save project anytime you edit an existing chain or add a new chain
      -->
			<form action="editChain/" method="post" style="display: inline"> {% csrf_token %}
				<input type="submit" value="save project" />
			</form>

			<form action="editChain/" method="post" style="display: inline"> {% csrf_token %}
				<input type="submit" value="edit chain" />
			</form>

			<script> $('#stack, #non-stack').sortable({ connectWith: '.connected' }); </script>
		</div>
	</body>
</html>

